<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Exam Project</a>
    </div>
    <ul class="pull-right nav navbar-nav">
      <li [ngClass]="{'active':pageActive=='','notactive':pageActive!=''}"><a href="javascript:void(0);" (click)="GoPage('')">Home</a></li>
      <li [ngClass]="{'active':pageActive=='empAdd','notactive':pageActive!='empAdd'}"><a  href="javascript:void(0);" (click)="GoPage('empAdd')">Employee Add</a></li>

    </ul>
  </div>
</nav>

<div class="container">
<router-outlet></router-outlet>
</div>
