<div class="container">
  <div class="row">
    <div class="col">
     Name
    </div>
    <div class="col">
    <input type="text" [(ngModel)]="empname"  class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col">
     SurName
    </div>
    <div class="col">
    <input type="text" [(ngModel)]="empsurname" class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col">
     Email
    </div>
    <div class="col">
    <input type="text" [(ngModel)]="empemail"  class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col">
     Salary
    </div>
    <div class="col">
    <input type="number" [(ngModel)]="empsalary"  class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col">
     Employee Date
    </div>
    <div class="col">
    <input type="date" [(ngModel)]="empdate"  class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <br/>
    <button (click)="Save()" class="btn btn-primary">Save</button>
    </div>

  </div>
</div>
