<style>
  .activerole {
    background-color:#E7E1E1;
  }
</style>
<h2>
  Employee Management
</h2>
<p>
An employee management app for HR
</p>
<br/>
<table class="table">
<tr>
  <td>Employee Date</td>
  <td>Name</td>
  <td>Surname</td>
  <td>Salary</td>
  <td>Action</td>
</tr>
<tr *ngFor="let item of dataItem let index = index" [ngClass]="{'activerole':(index)%2==0}">
  <td>{{item.getDateItem}}</td>
  <td>{{item.empName}}</td>
  <td>{{item.empSurName}}</td>
  <td>{{item.empSalary}}</td>
  <td><button class="btn btn-primary" (click)="getdetail(item)">View</button></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td>{{amount}}</td>
  <td></td>
</tr>
</table>
