<div class="container">
  <h2>{{empData[0].empName}} {{empData[0].empSurName}}</h2>
  <div class="panel panel-default">
    <div class="panel-body">{{empData[0].empEmail}}
<br/>
<hr>
<b>Salary</b> : {{empData[0].empSalary}}
<hr>
<b>Employee Date</b> : {{empData[0].getDateItem}}
<hr>
<a href="javascript:void(0);" routerLink="/">Black</a>&nbsp;
<a *ngIf="empData.length>1" href="javascript:void(0);" (click)="nextxpage()">Next</a>
    </div>

</div>
